<launch>
  
  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>


    <node name="Go_To_Point_Node" pkg="go_to_point" type="ToPoint" output="screen" args="">
        <remap from="~global_pos_in" to="mavros/global_position/global" />
        <param name="uav_name" value="$(arg uav_name)"/>
        <param name="camera_topic" value="$(arg camera_topic)"/>
        <remap from="~arming_out" to="mavros/cmd/arming" />
        <remap from="~mode_out" to="mavros/set_mode" />
        <remap from="~waypoint_push" to="mavros/mission/push" />
    </node>

</launch>